HOST=0.0.0.0
PORT=1337
APP_KEYS=92acYQj2bDHERXLxq4KRlg==,3MM2qu3MuF1Q93xR1UBFFw==,osXc0gw2/KYe3PVfHUTStg==,lyVEXV09117piaCH5+ZyuA==
API_TOKEN_SALT=U1LlKOL9rjtxRWwoYq1kQA==
ADMIN_JWT_SECRET=jQ+rNePYHB69PpKtuJopiQ==
JWT_SECRET=EY0LssQionwS55WKQ0urDQ==